*{
    box-sizing: border-box;
}
.contenedor{
    width:50%;
    height:470px;
    margin: auto;
    border: 1px solid black;
}
.convertidor{
    float: left;
    width: 50%;
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;

}

.contenedorTermo{
    width: 50%;
    float:left;
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    
}
#termometro{
    border:1px solid black;
    height: 250px;
    width: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: bold;
}
#ter{
    background-color: red;
    position: absolute;
    bottom: 0;
    min-width: 50px;
}
#padre{
    border:1px solid black;
    width:100px;
    height:80px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#temp{
    position: absolute;
    top:40%;
    margin: auto;
    z-index:1000;

}
input{
    border:1px solid black;
    width:100px;
    height:80px;
    font-size: 50px;
    text-align: center;
}
.p-btn{
    display: flex;
    margin-top:50px;
    justify-content:center;
    flex-direction: column;
    align-items: center;
}
button{
    margin-top: 30px;
    width: 100px;
    background-color: red;
    color: white;
    padding: 3px;
}
h1{
    text-align: center;
}